In [1]:
print("Hello")
## just for test

Hello

### GET&Check data

In [2]:
import pandas as pd
import numpy as np

sub=pd.read_csv("/home/junseo/Desktop/2023_1st_vacation/KRX_py/KRX_DATA/open/sample_submission.csv")
data=pd.read_csv("/home/junseo/Desktop/2023_1st_vacation/KRX_py/KRX_DATA/open/train.csv")

In [3]:
sub

         종목코드    순위
0     A000020     1
1     A000040     2
2     A000050     3
3     A000070     4
4     A000080     5
...       ...   ...
1995  A375500  1996
1996  A378850  1997
1997  A383220  1998
1998  A383310  1999
1999  A383800  2000

[2000 rows x 2 columns]

In [4]:
data

              일자     종목코드     종목명      거래량     시가     고가     저가     종가
0       20210601  A060310      3S   166690   2890   2970   2885   2920
1       20210601  A095570  AJ네트웍스    63836   5860   5940   5750   5780
2       20210601  A006840   AK홀딩스   103691  35500  35600  34150  34400
3       20210601  A054620     APS   462544  14600  14950  13800  14950
4       20210601  A265520   AP시스템   131987  29150  29150  28800  29050
...          ...      ...     ...      ...    ...    ...    ...    ...
987995  20230530  A189980  흥국에프엔비   272284   3005   3035   2955   2980
987996  20230530  A000540    흥국화재    50218   3250   3255   3195   3215
987997  20230530  A003280    흥아해운   130664   1344   1395   1340   1370
987998  20230530  A037440      희림   141932   9170   9260   9170   9200
987999  20230530  A238490      힘스  2611843   6410   8220   6300   8220

[988000 rows x 8 columns]

In [5]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 988000 entries, 0 to 987999
Data columns (total 8 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   일자      988000 non-null  int64
 1   종목코드    988000 non-null  object
 2   종목명     988000 non-null  object
 3   거래량     988000 non-null  int64
 4   시가      988000 non-null  int64
 5   고가      988000 non-null  int64
 6   저가      988000 non-null  int64
 7   종가      988000 non-null  int64
dtypes: int64(6), object(2)
memory usage: 60.3+ MB

- Data Analisys

In [6]:
import matplotlib.pyplot as plt
import seaborn as sns

data.head()

         일자     종목코드     종목명     거래량     시가     고가     저가     종가
0  20210601  A060310      3S  166690   2890   2970   2885   2920
1  20210601  A095570  AJ네트웍스   63836   5860   5940   5750   5780
2  20210601  A006840   AK홀딩스  103691  35500  35600  34150  34400
3  20210601  A054620     APS  462544  14600  14950  13800  14950
4  20210601  A265520   AP시스템  131987  29150  29150  28800  29050

In [7]:
data["일자"]

0         20210601
1         20210601
2         20210601
3         20210601
4         20210601
            ...
987995    20230530
987996    20230530
987997    20230530
987998    20230530
987999    20230530
Name: 일자, Length: 988000, dtype: int64

In [10]:
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense 
from tensorflow.keras.callbacks import ModelCheckpoint, EarlyStopping

In [12]:
from sklearn.preprocessing import MinMaxScaler

[sequence of the work]
1. make data index by company
2. delete word data
3. make AOC label
(sorted by date)

- to get resonable end price should get 'amount of change'
- !!!need help!!!
- slice data and make new index AOC
- ((datbefore endprice)-endprice)/100

In [13]:
numbers_data=data.

scaler=MinMaxScaler()
scaler.fit(numbers_data)

data_corr=_numbers_data.corr()
data_corr_sort=data_corr.sort_values("종가",ascending=False)

data_corr["종가"]

ValueError: could not convert string to float: 'A060310'

- Model Guessing end price by using 15 days data before target day