In [78]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
#import pandas_datareader as pdr
from datetime import datetime,timedelta
from sklearn.preprocessing import MinMaxScaler
from tensorflow.keras.models import Sequential, load_model
from tensorflow.keras.layers import Dense ,LSTM, Dropout,Bidirectional,TimeDistributed
from sklearn.model_selection import train_test_split, KFold
from tensorflow import expand_dims
from tensorflow.keras.losses import Huber
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import ModelCheckpoint, EarlyStopping
from os.path import join
from tensorflow import constant
from time import sleep
from prophet import Prophet
import tensorflow as tf

#import FinanceDataReader as fdr

In [79]:
data=pd.read_csv('data.csv')

In [137]:
gl=pd.read_csv('goldlee_added.csv')

In [82]:
data= data.drop('Unnamed: 0', axis = 1)

In [138]:
def convert_date(date_str):
  return pd.to_datetime(date_str, format="%Y%m%d").strftime("%Y-%m-%d")
data["일자"] =data["일자"].apply(convert_date)

In [139]:
def convert_date(date_str):
  return pd.to_datetime(date_str, format="%Y/%m/%d").strftime("%Y-%m-%d")
gl["일자"] =gl["일자"].apply(convert_date)

In [140]:
gl = gl[gl["일자"].isin(data["일자"].unique())]
gl.set_index('일자',inplace=True)

In [141]:
# prescaler
def getAOC(data):
  AOC = []
  close = data['종가']
  close_pre = close.shift(1)

  AOC.append(0)

  # aoc = (금일 종가 - 전일 종가) / 전일 종가
  for i in range(1, len(close)):
    aoc_value = ((close[i] - close_pre[i]) / close_pre[i]) * 100
    AOC.append(aoc_value)

  return AOC

#sort data by "종목명"
subject_Data=data.sort_values(by="종목코드",inplace=False)
subject_Data.head()
subject_Data.columns


pv_s_data=pd.pivot_table(subject_Data,values=['거래량', '시가', '고가', '저가', '종가'],index=['종목코드','일자'])
pv_s_data["AOC"] = getAOC(pv_s_data)

divided = pv_s_data.index.get_level_values('종목코드').unique()

dataframes = []

for i in divided:
    sliced_data = pv_s_data.loc[i]
    sliced_dataframe = sliced_data.reset_index()
    dataframes.append(sliced_dataframe)

sliced_dataframes=[]

for s in dataframes:
    end = s.pop('종가')
    sliced_dataframe = pd.merge(s, gl, left_on='일자', right_index=True, how='left')
    sliced_dataframe['종가'] = end
    sliced_dataframes.append(sliced_dataframe)

In [142]:
## sorting labels
labels=data[['종목코드','일자']]
labels = labels.sort_values(by=['종목코드','일자'])
labels=labels.drop('일자',axis=1)
labels=labels.drop_duplicates('종목코드')
data.sort_values(by=['종목코드',"일자"],inplace=True)

In [ ]:
label_list = labels['종목코드']

In [89]:
for i in sliced_dataframes:
    i['한국은행 기준금리'].fillna(i[i['일자'] == '2023-07-26']['한국은행 기준금리'].values[0], inplace = True)
    i['정부대출금금리'].fillna(i[i['일자'] == '2023-07-26']['정부대출금금리'].values[0], inplace = True)
    i['무역금융지원 프로그램대출금리'].fillna(i[i['일자'] == '2023-07-26']['무역금융지원 프로그램대출금리'].values[0], inplace = True)
    i['영세자영업자지원 프로그램대출금리'].fillna(i[i['일자'] == '2023-07-26']['영세자영업자지원 프로그램대출금리'].values[0], inplace = True)
    i['신성장·일자리지원 프로그램대출금리'].fillna(i[i['일자'] == '2023-07-26']['신성장·일자리지원 프로그램대출금리'].values[0], inplace = True)
    i['설비투자지원 프로그램대출금리'].fillna(i[i['일자'] == '2023-07-26']['설비투자지원 프로그램대출금리'].values[0], inplace = True)
    i['지방중소기업지원 프로그램대출금리'].fillna(i[i['일자'] == '2023-07-26']['지방중소기업지원 프로그램대출금리'].values[0], inplace = True)
    i['자금조정 대출금리'].fillna(i[i['일자'] == '2023-07-26']['자금조정 대출금리'].values[0], inplace = True)
    i['자금조정 예금금리'].fillna(i[i['일자'] == '2023-07-26']['자금조정 예금금리'].values[0], inplace = True)

In [144]:
for sliced in sliced_dataframes:
  sliced.drop('일자',axis=1,inplace=True)

## Model shells

## TEST **Shell**

## Predict **Shell**

In [92]:
import numpy as np
import pandas as pd
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.models import Model
from tensorflow.keras.layers import Input, Dense, Dropout, LayerNormalization
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import ModelCheckpoint, EarlyStopping
from sklearn.preprocessing import MinMaxScaler
from sklearn.model_selection import train_test_split
from tensorflow.keras.optimizers import Adam
from tensorflow.keras.callbacks import ModelCheckpoint, EarlyStopping
from os.path import join
import tensorflow as tf


class Transformer():
    
    def __init__(self, data, idx,day):
        self.data = data
        self.idx = idx
        self.time_steps = 60
        self.day=day
        
        
    def create_sequences(self, data):
        num_samples, num_features = data.shape
        sequences = []
        for i in range(num_samples - self.time_steps +1):
          sequences.append(data[i:i + self.time_steps, :])
        return np.array(sequences)

    def inverse_sequences(self,data_sequences):
        num_samples, num_steps, num_features = data_sequences.shape
        data = np.zeros((num_samples + self.time_steps - 1, num_features))
        for i in range(num_samples):
            data[i:i + self.time_steps, :] += data_sequences[i, :, :]
        data /= self.time_steps
        return data[:num_samples]
        #frquency domain inverse laplace transform
        
    def slicing_data(self):
        self.x_scaler = MinMaxScaler()
        self.y_scaler = MinMaxScaler()
        # Scaling features
        x_data = self.data[self.data.columns[:]]
        x_data = self.x_scaler.fit_transform(x_data)
        # Scaling target variable
        y_data = self.data[self.data.columns[:]]
        y_data = self.y_scaler.fit_transform(y_data)
        # validation set
        x_train_p, x_test, y_train_p, y_test = train_test_split(x_data, y_data, test_size=0.2, shuffle=False)
        x_train, x_val, y_train, y_val = train_test_split(x_train_p, y_train_p, test_size=0.25, shuffle=False)
        __t,x_final,__t,__t=train_test_split(x_data, y_data, test_size=60/len(y_data), shuffle=False)

        self.num_features = x_data.shape[1]
        self.num_samples=x_data.shape[0]

        self.x_train = self.create_sequences(x_train)
        self.x_test = self.create_sequences(x_test)
        self.x_val = self.create_sequences(x_val)
        self.x_final = self.create_sequences(x_final)

        self.y_train=self.create_sequences(y_train)
        self.y_test=self.create_sequences(y_test)
        self.y_val=self.create_sequences(y_val)

    def transformer_encoder_block(self, inputs):
        # Multi-Head Self-Attention
        attention = tf.keras.layers.MultiHeadAttention(key_dim=self.num_features // 8, num_heads=8)(inputs, inputs)
        attention = Dropout(0.1)(attention)
        x = LayerNormalization(epsilon=1e-6)(inputs + attention)
        
        # Feed Forward Neural Network
        x = Dense(4 * self.num_features, activation="relu")(x)
        x = Dropout(0.1)(x)
        x = Dense(self.num_features, activation="relu")(x)
        x = LayerNormalization(epsilon=1e-6)(x + inputs)
        return x
    
    def transformer_model(self):
        # Input layer
        inputs = Input(shape=(self.time_steps, self.num_features))
        # Transformer Encoder
        x = inputs
        for _ in range(4):  # Transformer Encoder Block의 반복 횟수 (하이퍼파라미터)
            x = self.transformer_encoder_block(x)
        # Output layer
        x = Dense(self.num_features, activation='relu')(x)
        model = Model(inputs, x, name="transformer_model")
        return model


    def train_model(self):
        self.model = self.transformer_model()
        model_save_path = '/content/drive/MyDrive/2023_1st_vac/KRX_modelings/best_model/Transformer2/{}/'.format(self.day)
        self.filename = join(model_save_path, 'checkpoint_{}_{}.ckpt'.format(self.day,self.idx))
        checkpoint = ModelCheckpoint(self.filename, save_weights_only=True, save_best_only=True, monitor='val_loss', verbose=0)
        earlystopping = EarlyStopping(monitor='val_loss', patience=100)
        self.model.compile(loss='mean_squared_error', optimizer=Adam(learning_rate=0.001))  # 학습률 (하이퍼파라미터)
        self.history = self.model.fit(self.x_train, self.y_train, epochs=1, batch_size=128, validation_data=(self.x_val, self.y_val), shuffle=False, callbacks=[checkpoint, earlystopping], verbose=0)

    def get_gap_by_test(self):
        self.model.load_weights(self.filename)
        pred = self.model.predict(self.x_test,verbose=0)
        rescaled_pred = self.y_scaler.inverse_transform(self.inverse_sequences(pred))
        rescaled_real = self.y_scaler.inverse_transform(self.inverse_sequences(self.y_test))

        gaps = []

        for p, r in zip(rescaled_pred, rescaled_real):
            gap = np.abs(p - r)
            gaps.append(gap)

        avg_gap = np.mean(gaps)

        return avg_gap

    def return_val(self):
        self.slicing_data()
        self.train_model()
        self.model.load_weights(self.filename)  

        next_input_data = np.copy(self.x_final)
        for day in range(1, 16):
            pred_day = self.model.predict(np.expand_dims(next_input_data[-1], axis=0), verbose=0)
            next_input_data = np.concatenate((next_input_data, pred_day), axis=0)

        next_15_days_data = next_input_data[-15:]
        next_15_days_data = self.y_scaler.inverse_transform(self.inverse_sequences(next_15_days_data))

        columns = self.data.columns.tolist()
        ret_df = pd.DataFrame(next_15_days_data, columns=columns)

        prices = []
        for end_price in ret_df.iloc[:, -1]:
            prices.append(end_price)

        gap = self.get_gap_by_test()

        return prices, gap


'''
하이퍼파라미터 추천:
-->  논문 이상치  instanced
Transformer Encoder Block의 반복 횟수: 4
Multi-Head Self-Attention에서 key_dim: 입력 특성 수의 1/8 크기로 추천 (예: num_features=100 이라면 key_dim=12)
학습률 (learning_rate): 0.001 (Adam optimizer를 사용하는 경우 일반적으로 사용되는 값)
Dropout 비율: 0.1 (적절한 정도의 regularization을 위한 값)
Transformer Encoder Block의 뉴런 수 (Dense layer의 뉴런 수): 입력 특성 수의 몇 배로 할지 지정 (예: 입력 특성 수가 100이면 4 * num_features=400 정도로 지정)
'''

'\n하이퍼파라미터 추천:\n-->  논문 이상치  instanced\nTransformer Encoder Block의 반복 횟수: 4\nMulti-Head Self-Attention에서 key_dim: 입력 특성 수의 1/8 크기로 추천 (예: num_features=100 이라면 key_dim=12)\n학습률 (learning_rate): 0.001 (Adam optimizer를 사용하는 경우 일반적으로 사용되는 값)\nDropout 비율: 0.1 (적절한 정도의 regularization을 위한 값)\nTransformer Encoder Block의 뉴런 수 (Dense layer의 뉴런 수): 입력 특성 수의 몇 배로 할지 지정 (예: 입력 특성 수가 100이면 4 * num_features=400 정도로 지정)\n'

In [94]:
idx=0

pred_list=[]
gap_acc=[]
out_labels=[]

In [95]:
for c in sliced_dataframes:
  print(labels.iloc[idx])
  print("{}번째 종목코드".format(idx))
  trans_model=Transformer(data=c,idx=idx,day='230727_1')
  pred,gap = trans_model.return_val()
  sleep(1)
  pred_list.append(pred)
  gap_acc.append(gap)
  idx+=1
  #to prevent model corrupting

종목코드    A000020
Name: 502, dtype: object
0번째 종목코드
종목코드    A000040
Name: 118, dtype: object
1번째 종목코드
종목코드    A000050
Name: 243, dtype: object
2번째 종목코드
종목코드    A000070
Name: 760, dtype: object
3번째 종목코드
종목코드    A000080
Name: 1803, dtype: object
4번째 종목코드
종목코드    A000100
Name: 1328, dtype: object
5번째 종목코드
종목코드    A000120
Name: 16, dtype: object
6번째 종목코드
종목코드    A000140
Name: 1804, dtype: object
7번째 종목코드
종목코드    A000150
Name: 503, dtype: object
8번째 종목코드
종목코드    A000180
Name: 840, dtype: object
9번째 종목코드
종목코드    A000210
Name: 33, dtype: object
10번째 종목코드
종목코드    A000220
Name: 1320, dtype: object
11번째 종목코드
종목코드    A000230
Name: 1412, dtype: object
12번째 종목코드
종목코드    A000240
Name: 1823, dtype: object
13번째 종목코드
종목코드    A000250
Name: 776, dtype: object
14번째 종목코드
종목코드    A000270
Name: 298, dtype: object
15번째 종목코드
종목코드    A000300
Name: 416, dtype: object
16번째 종목코드
종목코드    A000320
Name: 346, dtype: object
17번째 종목코드
종목코드    A000370
Name: 1903, dtype: object
18번째 종목코드
종목코드    A000390
Name: 787, dtype: object
19번째 종목코드
종목코드    A000400
Name: 569, dtype: object
20번째 종목코드
종목코드    A000430
Name: 407, dtype: object
21번째 종목코드
종목코드    A000440
Name: 1496, dtype: object
22번째 종목코드
종목코드    A000480
Name: 1481, dtype: object
23번째 종목코드
종목코드    A000490
Name: 376, dtype: object
24번째 종목코드
종목코드    A000500
Name: 228, dtype: object
25번째 종목코드
종목코드    A000520
Name: 770, dtype: object
26번째 종목코드
종목코드    A000540
Name: 1996, dtype: object
27번째 종목코드
종목코드    A000590
Name: 24, dtype: object
28번째 종목코드
종목코드    A000640
Name: 474, dtype: object
29번째 종목코드
종목코드    A000650
Name: 1528, dtype: object
30번째 종목코드
종목코드    A000660
Name: 200, dtype: object
31번째 종목코드
종목코드    A000670
Name: 1179, dtype: object
32번째 종목코드
종목코드    A000680
Name: 140, dtype: object
33번째 종목코드
종목코드    A000700
Name: 1314, dtype: object
34번째 종목코드
종목코드    A000720
Name: 1918, dtype: object
35번째 종목코드
종목코드    A000760
Name: 1381, dtype: object
36번째 종목코드
종목코드    A000810
Name: 752, dtype: object
37번째 종목코드
종목코드    A000850
Name: 1964, dtype: object
38번째 종목코드
종목코드    A000860
Name: 230, dtype: object
39번째 종목코드
종목코드    A000880
Name: 1901, dtype: object
40번째 종목코드
종목코드    A000890
Name: 687, dtype: object
41번째 종목코드
종목코드    A000910
Name: 1297, dtype: object
42번째 종목코드
종목코드    A000950
Name: 1436, dtype: object
43번째 종목코드
종목코드    A000970
Name: 1833, dtype: object
44번째 종목코드
종목코드    A000990
Name: 28, dtype: object
45번째 종목코드
종목코드    A001000
Name: 916, dtype: object
46번째 종목코드
종목코드    A001020
Name: 1729, dtype: object
47번째 종목코드
종목코드    A001040
Name: 12, dtype: object
48번째 종목코드
종목코드    A001060
Name: 90, dtype: object
49번째 종목코드
종목코드    A001070
Name: 427, dtype: object
50번째 종목코드
종목코드    A001080
Name: 595, dtype: object
51번째 종목코드
종목코드    A001120
Name: 143, dtype: object
52번째 종목코드
종목코드    A001130
Name: 433, dtype: object
53번째 종목코드
종목코드    A001140
Name: 272, dtype: object
54번째 종목코드
종목코드    A001200
Name: 1325, dtype: object
55번째 종목코드
종목코드    A001230
Name: 463, dtype: object
56번째 종목코드
종목코드    A001250
Name: 56, dtype: object
57번째 종목코드
종목코드    A001260
Name: 316, dtype: object
58번째 종목코드
종목코드    A001270
Name: 690, dtype: object
59번째 종목코드
종목코드    A001290
Name: 790, dtype: object
60번째 종목코드
종목코드    A001340
Name: 672, dtype: object
61번째 종목코드
종목코드    A001360
Name: 747, dtype: object
62번째 종목코드
종목코드    A001380
Name: 179, dtype: object
63번째 종목코드
종목코드    A001390
Name: 110, dtype: object
64번째 종목코드
종목코드    A001430
Name: 849, dtype: object
65번째 종목코드
종목코드    A001440
Name: 430, dtype: object
66번째 종목코드
종목코드    A001450
Name: 1944, dtype: object
67번째 종목코드
종목코드    A001460
Name: 10, dtype: object
68번째 종목코드
종목코드    A001470
Name: 737, dtype: object
69번째 종목코드
종목코드    A001500
Name: 1940, dtype: object
70번째 종목코드
종목코드    A001510
Name: 197, dtype: object
71번째 종목코드
종목코드    A001520
Name: 480, dtype: object
72번째 종목코드
종목코드    A001530
Name: 32, dtype: object
73번째 종목코드
종목코드    A001540
Name: 1027, dtype: object
74번째 종목코드
종목코드    A001550
Name: 1480, dtype: object
75번째 종목코드
종목코드    A001560
Name: 1465, dtype: object
76번째 종목코드
종목코드    A001570
Name: 289, dtype: object
77번째 종목코드
종목코드    A001620
Name: 1551, dtype: object
78번째 종목코드
종목코드    A001630
Name: 1489, dtype: object
79번째 종목코드
종목코드    A001680
Name: 387, dtype: object
80번째 종목코드
종목코드    A001720
Name: 929, dtype: object
81번째 종목코드
종목코드    A001740
Name: 188, dtype: object
82번째 종목코드
종목코드    A001750
Name: 1879, dtype: object
83번째 종목코드
종목코드    A001780
Name: 1031, dtype: object
84번째 종목코드
종목코드    A001790
Name: 432, dtype: object
85번째 종목코드
종목코드    A001800
Name: 1198, dtype: object
86번째 종목코드
종목코드    A001810
Name: 635, dtype: object
87번째 종목코드
종목코드    A001820
Name: 786, dtype: object
88번째 종목코드
종목코드    A001840
Name: 1380, dtype: object
89번째 종목코드
종목코드    A001880
Name: 34, dtype: object
90번째 종목코드
종목코드    A001940
Name: 113, dtype: object
91번째 종목코드
종목코드    A002020
Name: 1604, dtype: object
92번째 종목코드
종목코드    A002030
Name: 986, dtype: object
93번째 종목코드
종목코드    A002100
Name: 238, dtype: object
94번째 종목코드
종목코드    A002140
Name: 249, dtype: object
95번째 종목코드
종목코드    A002150
Name: 458, dtype: object
96번째 종목코드
종목코드    A002170
Name: 758, dtype: object
97번째 종목코드
종목코드    A002200
Name: 1820, dtype: object
98번째 종목코드
종목코드    A002210
Name: 470, dtype: object
99번째 종목코드
종목코드    A002220
Name: 1886, dtype: object
100번째 종목코드
종목코드    A002230
Name: 1771, dtype: object
101번째 종목코드
종목코드    A002240
Name: 253, dtype: object
102번째 종목코드
종목코드    A002290
Name: 768, dtype: object
103번째 종목코드
종목코드    A002310
Name: 988, dtype: object
104번째 종목코드
종목코드    A002320
Name: 1893, dtype: object
105번째 종목코드
종목코드    A002350
Name: 338, dtype: object
106번째 종목코드
종목코드    A002360
Name: 181, dtype: object
107번째 종목코드
종목코드    A002380
Name: 97, dtype: object
108번째 종목코드
종목코드    A002390
Name: 1853, dtype: object
109번째 종목코드
종목코드    A002410
Name: 677, dtype: object
110번째 종목코드
종목코드    A002450
Name: 767, dtype: object
111번째 종목코드
종목코드    A002460
Name: 1954, dtype: object
112번째 종목코드
종목코드    A002600
Name: 1486, dtype: object
113번째 종목코드
종목코드    A002620
Name: 1468, dtype: object
114번째 종목코드
종목코드    A002630
Name: 1196, dtype: object
115번째 종목코드
종목코드    A002680
Name: 1900, dtype: object
116번째 종목코드
종목코드    A002690
Name: 499, dtype: object
117번째 종목코드
종목코드    A002700
Name: 932, dtype: object
118번째 종목코드
종목코드    A002710
Name: 212, dtype: object
119번째 종목코드
종목코드    A002720
Name: 278, dtype: object
120번째 종목코드
종목코드    A002760
Name: 684, dtype: object
121번째 종목코드
종목코드    A002780
Name: 1523, dtype: object
122번째 종목코드
종목코드    A002790
Name: 978, dtype: object
123번째 종목코드
종목코드    A002800
Name: 927, dtype: object
124번째 종목코드
종목코드    A002810
Name: 762, dtype: object
125번째 종목코드
종목코드    A002840
Name: 649, dtype: object
126번째 종목코드
종목코드    A002880
Name: 414, dtype: object
127번째 종목코드
종목코드    A002900
Name: 220, dtype: object
128번째 종목코드
종목코드    A002920
Name: 1312, dtype: object
129번째 종목코드
종목코드    A002960
Name: 1821, dtype: object
130번째 종목코드
종목코드    A002990
Name: 290, dtype: object
131번째 종목코드
종목코드    A003000
Name: 689, dtype: object
132번째 종목코드
종목코드    A003010
Name: 1948, dtype: object
133번째 종목코드
종목코드    A003030
Name: 851, dtype: object
134번째 종목코드
종목코드    A003060
Name: 1119, dtype: object
135번째 종목코드
종목코드    A003070
Name: 1605, dtype: object
136번째 종목코드
종목코드    A003080
Name: 834, dtype: object
137번째 종목코드
종목코드    A003090
Name: 404, dtype: object
138번째 종목코드
종목코드    A003100
Name: 825, dtype: object
139번째 종목코드
종목코드    A003120
Name: 1414, dtype: object
140번째 종목코드
종목코드    A003160
Name: 518, dtype: object
141번째 종목코드
종목코드    A003200
Name: 1417, dtype: object
142번째 종목코드
종목코드    A003220
Name: 411, dtype: object
143번째 종목코드
종목코드    A003230
Name: 756, dtype: object
144번째 종목코드
종목코드    A003240
Name: 1653, dtype: object
145번째 종목코드
종목코드    A003280
Name: 1997, dtype: object
146번째 종목코드
종목코드    A003300
Name: 1888, dtype: object
147번째 종목코드
종목코드    A003310
Name: 418, dtype: object
148번째 종목코드
종목코드    A003350
Name: 1849, dtype: object
149번째 종목코드
종목코드    A003380
Name: 1792, dtype: object
150번째 종목코드
종목코드    A003410
Name: 948, dtype: object
151번째 종목코드
종목코드    A003460
Name: 1329, dtype: object
152번째 종목코드
종목코드    A003470
Name: 1317, dtype: object
153번째 종목코드
종목코드    A003480
Name: 1894, dtype: object
154번째 종목코드
종목코드    A003490
Name: 434, dtype: object
155번째 종목코드
종목코드    A003520
Name: 1178, dtype: object
156번째 종목코드
종목코드    A003530
Name: 1907, dtype: object
157번째 종목코드
종목코드    A003540
Name: 395, dtype: object
158번째 종목코드
종목코드    A003550
Name: 129, dtype: object
159번째 종목코드
종목코드    A003560
Name: 84, dtype: object
160번째 종목코드
종목코드    A003570
Name: 203, dtype: object
161번째 종목코드
종목코드    A003580
Name: 73, dtype: object
162번째 종목코드
종목코드    A003610
Name: 670, dtype: object
163번째 종목코드
종목코드    A003620
Name: 107, dtype: object
164번째 종목코드
종목코드    A003650
Name: 653, dtype: object
165번째 종목코드
종목코드    A003670
Name: 1738, dtype: object
166번째 종목코드
종목코드    A003690
Name: 1584, dtype: object
167번째 종목코드
종목코드    A003720
Name: 761, dtype: object
168번째 종목코드
종목코드    A003780
Name: 1516, dtype: object
169번째 종목코드
종목코드    A003800
Name: 1101, dtype: object
170번째 종목코드
종목코드    A003830
Name: 436, dtype: object
171번째 종목코드
종목코드    A003850
Name: 685, dtype: object
172번째 종목코드
종목코드    A003920
Name: 319, dtype: object
173번째 종목코드
종목코드    A003960
Name: 726, dtype: object
174번째 종목코드
종목코드    A004000
Name: 573, dtype: object
175번째 종목코드
종목코드    A004020
Name: 1937, dtype: object
176번째 종목코드
종목코드    A004060
Name: 180, dtype: object
177번째 종목코드
종목코드    A004080
Name: 940, dtype: object
178번째 종목코드
종목코드    A004090
Name: 1818, dtype: object
179번째 종목코드
종목코드    A004100
Name: 1657, dtype: object
180번째 종목코드
종목코드    A004140
Name: 466, dtype: object
181번째 종목코드
종목코드    A004150
Name: 1871, dtype: object
182번째 종목코드
종목코드    A004170
Name: 921, dtype: object
183번째 종목코드
종목코드    A004250
Name: 158, dtype: object
184번째 종목코드
종목코드    A004270
Name: 318, dtype: object
185번째 종목코드
종목코드    A004310
Name: 1930, dtype: object
186번째 종목코드
종목코드    A004360
Name: 846, dtype: object
187번째 종목코드
종목코드    A004370
Name: 354, dtype: object
188번째 종목코드
종목코드    A004380
Name: 766, dtype: object
189번째 종목코드
종목코드    A004410
Name: 811, dtype: object
190번째 종목코드
종목코드    A004430
Name: 886, dtype: object
191번째 종목코드
종목코드    A004440
Name: 769, dtype: object
192번째 종목코드
종목코드    A004450
Name: 783, dtype: object
193번째 종목코드
종목코드    A004490
Name: 847, dtype: object
194번째 종목코드
종목코드    A004540
Name: 302, dtype: object
195번째 종목코드
종목코드    A004560
Name: 1929, dtype: object
196번째 종목코드
종목코드    A004590
Name: 1807, dtype: object
197번째 종목코드
종목코드    A004650
Name: 1526, dtype: object
198번째 종목코드
종목코드    A004690
Name: 777, dtype: object
199번째 종목코드
종목코드    A004700
Name: 1479, dtype: object
200번째 종목코드
종목코드    A004710
Name: 1870, dtype: object
201번째 종목코드
종목코드    A004720
Name: 1721, dtype: object
202번째 종목코드
종목코드    A004770
Name: 950, dtype: object
203번째 종목코드
종목코드    A004780
Name: 379, dtype: object
204번째 종목코드
종목코드    A004800
Name: 1967, dtype: object
205번째 종목코드
종목코드    A004830
Name: 448, dtype: object
206번째 종목코드
종목코드    A004840
Name: 38, dtype: object
207번째 종목코드
종목코드    A004870
Name: 1695, dtype: object
208번째 종목코드
종목코드    A004890
Name: 498, dtype: object
209번째 종목코드
종목코드    A004910
Name: 1478, dtype: object
210번째 종목코드
종목코드    A004920
Name: 959, dtype: object
211번째 종목코드
종목코드    A004960
Name: 1875, dtype: object
212번째 종목코드
종목코드    A004970
Name: 915, dtype: object
213번째 종목코드
종목코드    A004980
Name: 835, dtype: object
214번째 종목코드
종목코드    A004990
Name: 575, dtype: object
215번째 종목코드
종목코드    A005010
Name: 1988, dtype: object
216번째 종목코드
종목코드    A005070
Name: 1596, dtype: object
217번째 종목코드
종목코드    A005090
Name: 177, dtype: object
218번째 종목코드
종목코드    A005110
Name: 1896, dtype: object
219번째 종목코드
종목코드    A005160
Name: 461, dtype: object
220번째 종목코드
종목코드    A005180
Name: 724, dtype: object
221번째 종목코드
종목코드    A005250
Name: 352, dtype: object
222번째 종목코드
종목코드    A005290
Name: 500, dtype: object
223번째 종목코드
종목코드    A005300
Name: 576, dtype: object
224번째 종목코드
종목코드    A005320
Name: 271, dtype: object
225번째 종목코드
종목코드    A005360
Name: 622, dtype: object
226번째 종목코드
종목코드    A005380
Name: 1939, dtype: object
227번째 종목코드
종목코드    A005390
Name: 920, dtype: object
228번째 종목코드
종목코드    A005420
Name: 1597, dtype: object
229번째 종목코드
종목코드    A005430
Name: 1810, dtype: object
230번째 종목코드
종목코드    A005440
Name: 1938, dtype: object
231번째 종목코드
종목코드    A005490
Name: 162, dtype: object
232번째 종목코드
종목코드    A005500
Name: 775, dtype: object
233번째 종목코드
종목코드    A005610
Name: 207, dtype: object
234번째 종목코드
종목코드    A005670
Name: 1746, dtype: object
235번째 종목코드
종목코드    A005680
Name: 764, dtype: object
236번째 종목코드
종목코드    A005690
Name: 1704, dtype: object
237번째 종목코드
종목코드    A005710
Name: 409, dtype: object
238번째 종목코드
종목코드    A005720
Name: 337, dtype: object
239번째 종목코드
종목코드    A005740
Name: 1633, dtype: object
240번째 종목코드
종목코드    A005750
Name: 380, dtype: object
241번째 종목코드
종목코드    A005800
Name: 928, dtype: object
242번째 종목코드
종목코드    A005810
Name: 1752, dtype: object
243번째 종목코드
종목코드    A005820
Name: 1256, dtype: object
244번째 종목코드
종목코드    A005830
Name: 27, dtype: object
245번째 종목코드
종목코드    A005850
Name: 1075, dtype: object
246번째 종목코드
종목코드    A005860
Name: 1884, dtype: object
247번째 종목코드
종목코드    A005870
Name: 1976, dtype: object
248번째 종목코드
종목코드    A005880
Name: 435, dtype: object
249번째 종목코드
종목코드    A005930
Name: 746, dtype: object
250번째 종목코드
종목코드    A005940
Name: 154, dtype: object
251번째 종목코드
종목코드    A005950
Name: 1358, dtype: object
252번째 종목코드
종목코드    A005960
Name: 468, dtype: object
253번째 종목코드
종목코드    A005990
Name: 597, dtype: object
254번째 종목코드
종목코드    A006040
Name: 493, dtype: object
255번째 종목코드
종목코드    A006050
Name: 275, dtype: object
256번째 종목코드
종목코드    A006060
Name: 1957, dtype: object
257번째 종목코드
종목코드    A006090
Name: 730, dtype: object
258번째 종목코드
종목코드    A006110
Name: 753, dtype: object
259번째 종목코드
종목코드    A006120
Name: 189, dtype: object
260번째 종목코드
종목코드    A006140
Name: 1779, dtype: object
261번째 종목코드
종목코드    A006200
Name: 1829, dtype: object
262번째 종목코드
종목코드    A006220
Name: 1471, dtype: object
263번째 종목코드
종목코드    A006260
Name: 138, dtype: object
264번째 종목코드
종목코드    A006280
Name: 349, dtype: object
265번째 종목코드
종목코드    A006340
Name: 410, dtype: object
266번째 종목코드
종목코드    A006360
Name: 55, dtype: object
267번째 종목코드
종목코드    A006370
Name: 373, dtype: object
268번째 종목코드
종목코드    A006390
Name: 1887, dtype: object
269번째 종목코드
종목코드    A006400
Name: 738, dtype: object
270번째 종목코드
종목코드    A006490
Name: 1390, dtype: object
271번째 종목코드
종목코드    A006570
Name: 382, dtype: object
272번째 종목코드
종목코드    A006580
Name: 399, dtype: object
273번째 종목코드
종목코드    A006620
Name: 459, dtype: object
274번째 종목코드
종목코드    A006650
Name: 429, dtype: object
275번째 종목코드
종목코드    A006660
Name: 739, dtype: object
276번째 종목코드
종목코드    A006730
Name: 803, dtype: object
277번째 종목코드
종목코드    A006740
Name: 1181, dtype: object
278번째 종목코드
종목코드    A006800
Name: 646, dtype: object
279번째 종목코드
종목코드    A006840
Name: 2, dtype: object
280번째 종목코드
종목코드    A006880
Name: 926, dtype: object
281번째 종목코드
종목코드    A006890
Name: 1651, dtype: object
282번째 종목코드
종목코드    A006910
Name: 686, dtype: object
283번째 종목코드
종목코드    A006980
Name: 1245, dtype: object
284번째 종목코드
종목코드    A007070
Name: 57, dtype: object
285번째 종목코드
종목코드    A007110
Name: 1418, dtype: object
286번째 종목코드
종목코드    A007120
Name: 643, dtype: object
287번째 종목코드
종목코드    A007160
Name: 728, dtype: object
288번째 종목코드
종목코드    A007210
Name: 681, dtype: object
289번째 종목코드
종목코드    A007280
Name: 1844, dtype: object
290번째 종목코드
종목코드    A007310
Name: 1191, dtype: object
291번째 종목코드
종목코드    A007330
Name: 1748, dtype: object
292번째 종목코드
종목코드    A007340
Name: 37, dtype: object
293번째 종목코드
종목코드    A007370
Name: 1517, dtype: object
294번째 종목코드
종목코드    A007390
Name: 334, dtype: object
295번째 종목코드
종목코드    A007460
Name: 1117, dtype: object
296번째 종목코드
종목코드    A007530
Name: 1224, dtype: object
297번째 종목코드
종목코드    A007540
Name: 799, dtype: object
298번째 종목코드
종목코드    A007570
Name: 1419, dtype: object
299번째 종목코드
종목코드    A007590
Name: 467, dtype: object
300번째 종목코드
종목코드    A007610
Name: 826, dtype: object
301번째 종목코드
종목코드    A007660
Name: 1357, dtype: object
302번째 종목코드
종목코드    A007680
Name: 406, dtype: object
303번째 종목코드
종목코드    A007690
Name: 270, dtype: object
304번째 종목코드
종목코드    A007700
Name: 49, dtype: object
305번째 종목코드
종목코드    A007720
Name: 383, dtype: object
306번째 종목코드
종목코드    A007770
Name: 1889, dtype: object
307번째 종목코드
종목코드    A007810
Name: 1581, dtype: object
308번째 종목코드
종목코드    A007820
Name: 1078, dtype: object
309번째 종목코드
종목코드    A007860
Name: 805, dtype: object
310번째 종목코드
종목코드    A007980
Name: 1661, dtype: object
311번째 종목코드
종목코드    A008040
Name: 727, dtype: object
312번째 종목코드
종목코드    A008060
Name: 374, dtype: object
313번째 종목코드
종목코드    A008110
Name: 378, dtype: object
314번째 종목코드
종목코드    A008250
Name: 1332, dtype: object
315번째 종목코드
종목코드    A008260
Name: 157, dtype: object
316번째 종목코드
종목코드    A008350
Name: 317, dtype: object
317번째 종목코드
종목코드    A008370
Name: 1267, dtype: object
318번째 종목코드
종목코드    A008420
Name: 638, dtype: object
319번째 종목코드
종목코드    A008490
Name: 822, dtype: object
320번째 종목코드
종목코드    A008700
Name: 976, dtype: object
321번째 종목코드
종목코드    A008730
Name: 1330, dtype: object
322번째 종목코드
종목코드    A008770
Name: 1950, dtype: object
323번째 종목코드
종목코드    A008830
Name: 377, dtype: object
324번째 종목코드
종목코드    A008870
Name: 288, dtype: object
325번째 종목코드
종목코드    A008930
Name: 1858, dtype: object
326번째 종목코드
종목코드    A008970
Name: 485, dtype: object
327번째 종목코드
종목코드    A009070
Name: 101, dtype: object
328번째 종목코드
종목코드    A009150
Name: 745, dtype: object
329번째 종목코드
종목코드    A009160
Name: 182, dtype: object
330번째 종목코드
종목코드    A009180
Name: 1866, dtype: object
331번째 종목코드
종목코드    A009190
Name: 397, dtype: object
332번째 종목코드
종목코드    A009200
Name: 636, dtype: object
333번째 종목코드
종목코드    A009240
Name: 1861, dtype: object
334번째 종목코드
종목코드    A009270
Name: 930, dtype: object
335번째 종목코드
종목코드    A009290
Name: 261, dtype: object
336번째 종목코드
종목코드    A009300
Name: 754, dtype: object
337번째 종목코드
종목코드    A009320
Name: 402, dtype: object
338번째 종목코드
종목코드    A009410
Name: 1658, dtype: object
339번째 종목코드
종목코드    A009420
Name: 1881, dtype: object
340번째 종목코드
종목코드    A009440
Name: 102, dtype: object
341번째 종목코드
종목코드    A009450
Name: 239, dtype: object
342번째 종목코드
종목코드    A009460
Name: 1898, dtype: object
343번째 종목코드
종목코드    A009470
Name: 784, dtype: object
344번째 종목코드
종목코드    A009520
Name: 1736, dtype: object
345번째 종목코드
종목코드    A009540
Name: 64, dtype: object
346번째 종목코드
종목코드    A009580
Name: 634, dtype: object
347번째 종목코드
종목코드    A009620
Name: 735, dtype: object
348번째 종목코드
종목코드    A009680
Name: 632, dtype: object
349번째 종목코드
종목코드    A009730
Name: 1590, dtype: object
350번째 종목코드
종목코드    A009770
Name: 771, dtype: object
351번째 종목코드
종목코드    A009780
Name: 1165, dtype: object
352번째 종목코드
종목코드    A009810
Name: 1762, dtype: object
353번째 종목코드
종목코드    A009830
Name: 1904, dtype: object
354번째 종목코드
종목코드    A009900
Name: 620, dtype: object
355번째 종목코드
종목코드    A009970
Name: 1177, dtype: object
356번째 종목코드
종목코드    A010040
Name: 1813, dtype: object
357번째 종목코드
종목코드    A010050
Name: 1243, dtype: object
358번째 종목코드
종목코드    A010060
Name: 159, dtype: object
359번째 종목코드
종목코드    A010100
Name: 1816, dtype: object
360번째 종목코드
종목코드    A010120
Name: 139, dtype: object
361번째 종목코드
종목코드    A010130
Name: 252, dtype: object
362번째 종목코드
종목코드    A010140
Name: 748, dtype: object
363번째 종목코드
종목코드    A010170
Name: 425, dtype: object
364번째 종목코드
종목코드    A010240
Name: 1994, dtype: object
365번째 종목코드
종목코드    A010280
Name: 949, dtype: object
366번째 종목코드
종목코드    A010470
Name: 1199, dtype: object
367번째 종목코드
종목코드    A010580
Name: 1077, dtype: object
368번째 종목코드
종목코드    A010600
Name: 1272, dtype: object
369번째 종목코드
종목코드    A010620
Name: 1925, dtype: object
370번째 종목코드
종목코드    A010640
Name: 1518, dtype: object
371번째 종목코드
종목코드    A010660
Name: 1963, dtype: object
372번째 종목코드
종목코드    A010690
Name: 1959, dtype: object
373번째 종목코드
종목코드    A010770
Name: 1732, dtype: object
374번째 종목코드
종목코드    A010780
Name: 1006, dtype: object
375번째 종목코드
종목코드    A010820
Name: 1725, dtype: object
376번째 종목코드
종목코드    A010950
Name: 166, dtype: object
377번째 종목코드
종목코드    A010960
Name: 781, dtype: object
378번째 종목코드
종목코드    A011000
Name: 1522, dtype: object
379번째 종목코드
종목코드    A011040
Name: 242, dtype: object
380번째 종목코드
종목코드    A011070
Name: 133, dtype: object
381번째 종목코드
종목코드    A011150
Name: 17, dtype: object
382번째 종목코드
종목코드    A011170
Name: 577, dtype: object
383번째 종목코드

ValueError: Input contains infinity or a value too large for dtype('float64').

In [155]:
for c in sliced_dataframes:
  print(labels.iloc[idx-10])
  print("{}번째 종목코드".format(idx))
  trans_model=Transformer(data=c,idx=idx,day='230727_1')
  pred,gap = trans_model.return_val()
  sleep(1)
  pred_list.append(pred)
  #gap_acc.append(gap)
  idx+=1
  #to prevent model corrupting

종목코드    A363280
Name: 1692, dtype: object
2000번째 종목코드

## Gap 큰 것만 다시 학습

In [ ]:
value = {}
value['종목코드'] = labels
value['종가'] = pred_list
value['오차'] = gap_acc

value = pd.DataFrame(value)

In [ ]:
top_gap_indices = value.sort_values(by='Gap', ascending=False).index[:200]

for idx in top_gap_indices:
    c = sliced_dataframes[idx]
    print(value.loc[idx], '종목코드')
    print("{}번째 종목코드".format(idx))
    trans_model = Transformer(data = c, idx = idx, day = '230727_1')
    pred, gap = trans_model.return_val()
    sleep(1)
    value.loc[idx, '종가'] = pred
    value.loc[idx, '오차'] = gap

In [ ]:
labels = value['종목코드']
pred_list = value['종가']
gap_acc = value['오차']

## 순위 정하기
1. 그냥 이익률 or 차액만 따지기

In [ ]:
len(pred_list)

In [164]:
past_list = []
for i in sliced_dataframes:
  past_list.append(i['종가'][493])

In [165]:
pred_15 = []
for i in pred_list:
    pred_15.append(i[-1])

In [166]:
def subtract_arrays(arr1, arr2):
    if len(arr1) != len(arr2):
        raise ValueError("Arrays must have the same length")

    result = []
    for i in range(len(arr1)):
        result.append(arr1[i] - arr2[i])
    return result

def divide_arrays(arr1, arr2):
    if len(arr1) != len(arr2):
        raise ValueError("Arrays must have the same length")

    result = []
    for i in range(len(arr1)):
        result.append(arr1[i] / arr2[i])
    return result

In [167]:
benefit_sub = subtract_arrays(pred_15, past_list)
benefit_div = subtract_arrays(pred_15, past_list)

In [169]:
label_lis

['종목코드']

In [184]:
df_1=pd.DataFrame({
        '종목코드': label_list,
        '이익': benefit_sub
    }
)

In [188]:
df_2=pd.DataFrame({
        '종목코드': label_list,
        '이익': benefit_div
    }
)

In [185]:
df_1.sort_values(by='이익', ascending = False, inplace = True)
df_1.drop(columns=['이익'], inplace = True)
df_1['순위'] = list(range(1, 2001))

In [189]:
df_2.sort_values(by='이익', ascending = False, inplace = True)
df_2.drop(columns=['이익'], inplace = True)
df_2['순위'] = list(range(1, 2001))

In [186]:
df_1.to_csv('{}.csv'.format("230729_v0.1"),index=False)

In [190]:
df_2.to_csv('{}.csv'.format("230729_v0.2"),index=False)

2. 샤프지수

In [191]:
# 투자 기간과 무위험 수익률 설정
trading_days = 15
risk_free_rate = 0.035

# 주어진 데이터에 따라 샤프 지수 계산
total_return = []
for i in pred_list:
    initial_asset = i[0]  # 초기 자산 (1일의 종가)
    final_asset = i[-1]  # 최종 자산 (15일의 종가)
    total_return.append((final_asset - initial_asset) / initial_asset)

daily_returns = []
for i in pred_list:
    daily_returns.append(i[-1] - i[-2] / i[-2])

annualized_daily_returns = []
for i in pred_list:
    annualized_daily_returns.append([daily_return * 250 for daily_return in daily_returns])

daily_return_volatility = []
for i in range(len(pred_list)):
    daily_return_volatility.append(np.std(annualized_daily_returns[i], ddof=1))

annualized_total_return = []
for i in range(len(pred_list)):
    annualized_total_return.append(total_return[i] * (250 / len(pred_list)))

sharpe_ratio = []
for i in range(len(pred_list)):
    sharpe_ratio.append((annualized_total_return[i] - risk_free_rate) / daily_return_volatility[i])

In [193]:
df_3=pd.DataFrame({
        '종목코드': label_list,
        '샤프지수': sharpe_ratio
    }
)

In [194]:
df_3.sort_values(by='샤프지수', ascending = False, inplace = True)
df_3.drop(columns=['샤프지수'], inplace = True)
df_3['순위'] = list(range(1, 2001))

In [195]:
df_3

         종목코드    순위
1714  A131760     1
289   A001570     2
1360  A093230     3
11    A013720     4
212   A002710     5
...       ...   ...
1587  A183300  1996
1959  A010690  1997
23    A083660  1998
1010  A101390  1999
1334  A025820  2000

[2000 rows x 2 columns]

In [196]:
df_3.to_csv('{}.csv'.format("230729_v0.3"),index=False)